<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- 页面头部 -->
<head>
    <meta charset="utf-8" />
    <title>任务管理系统</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- 引入公共样式 -->
    {% include "../inc/css.html" %}

</head>
<!-- 页面正文 -->
<body class="fixed-top">
    <!-- 引入页面公共头部 -->
    {% include "../inc/header.html" %}

    <!-- 页面正文容器 -->
    <div class="page-container row-fluid">
        <!-- 引入页面左侧菜单 -->
        {% include "../inc/sidebar.html" %}

        <!-- 容器内容 -->
        <div class="page-content">
            <!-- 引入页面portlet -->
            {% include "../inc/portlet.html" %}

            <div class="container-fluid">
                <!-- 引入页面正文头部 -->
                {% include "../inc/pheader.html" %}

                <div class="row-fluid">
                    <div class="span4">
                        <div>
                            <a class="btn red" id="delete" title='删除用户' href="javascript:;"><i class="icon-trash icon-white"></i> 删除</a>
                            <a class="btn blue" id="add" title='添加用户' href="javascript:;"><i class="icon-plus icon-white"></i> 新增</a>
                        </div>
                    </div>
                    <div class="span8">
                            <div class="dataTables_filter">
                                <label>
                                    <button type="button" class="btn" title='根据用户名搜索信息' id="search">搜索 <i class="icon-search"></i></button>
                                </label>
                                <label>
                                    <span>用户名：</span>
                                    <input class="m-wrap small" id="ID" name="ID" type="text" value="" />
                                </label>
                            </div>
                    </div>
                </div>

                <div class="alert">
                    <button class="close" data-dismiss="alert"></button>
                    <strong>用户信息相关：</strong>
                    请编辑其用户的基本信息，用户的信息是用户基本信息的汇总！
                </div>
                <div id="loading" class="loading">
                    <img src="/static/media/image/loading3.gif" />
                </div>
                <div id="nodata" class="loading">
                    <img src="/static/media/image/nodata.png" />
                </div>
                <div id="mainForm" style="display:none">
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th style="width: 8px;">
                                    <input type="checkbox" id="checkall" class="group-checkable" />
                                </th>
                                <th>用户名
                                </th>
                                <th>姓名
                                </th>
                                <th>手机
                                </th>
                                <th>角色
                                </th>
                                <!--<th>部门
                                </th>-->
                                <th>是否激活
                                </th>
                                <th>操作
                                </th>
                            </tr>
                        </thead>
                        <tbody id="Tlist">
                           
                        </tbody>
                    </table>
                </div>
                <div id="pagination" class="dataTables_paginate paging_bootstrap pagination">

                    <!--MvcPager 1.5 for ASP.NET MVC 3.0 © 2009-2011 Webdiyer (http://www.webdiyer.com)
                    <div class="pages"><a disabled="disabled">首页</a>&nbsp;&nbsp;<a disabled="disabled">上一页</a>&nbsp;&nbsp;1&nbsp;&nbsp;<a href='/Account/User/Index?pageIndex=2'>2</a>&nbsp;&nbsp;<a href='/Account/User/Index?pageIndex=2'>下一页</a>&nbsp;&nbsp;<a href='/Account/User/Index?pageIndex=2'>尾页</a><span>总条数: 13</span></div>
                    MvcPager 1.5 for ASP.NET MVC 3.0 © 2009-2011 Webdiyer (http://www.webdiyer.com)-->

                </div>
            </div>
        </div>
    </div>

    <!-- 引入公共尾部 -->
    {% include "../inc/footer.html" %}
    
    <!-- 引入公共js -->
    {% include "../inc/js.html" %}

    <!-- 引入当前页面js脚本  -->
    <script type="text/javascript" src="/static/user/user.js"></script>

</body>
</html>
