<!-- 公共样式-->
<link rel="stylesheet" type="text/css" href="/static/assets/bootstrap/2.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/static/assets/metronic/1.1.2/metro.css" />
<link rel="stylesheet" type="text/css" href="/static/assets/bootstrap/2.3.1/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" type="text/css" href="/static/assets/font-awesome/3.0.0/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="/static/assets/metronic/1.1.2/style.css" />
<link rel="stylesheet" type="text/css" href="/static/assets/metronic/1.1.2/style_responsive.css" />
<link rel="stylesheet" type="text/css" href="/static/assets/metronic/1.1.2/style_default.css" id="style_color" />
<link rel="stylesheet" type="text/css" href="/static/assets/fancybox/source/jquery.fancybox.css" />
<link rel="stylesheet" type="text/css" href="/static/assets/uniform/1.6.0/css/uniform.default.css" />
<link rel="stylesheet" type="text/css" href="/static/assets/chosen-bootstrap/chosen/chosen.css" />
<link rel="stylesheet" type="text/css" href="/static/assets/data-tables/DT_bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/static/assets/jquery-ui/jquery-ui-1.10.1.custom.min.css" />
<link rel="stylesheet" type="text/css" href="/static/media/css/admin.main.css" />
<link rel="stylesheet" type="text/css" href="/static/assets/css/jquery.thickbox.css" />
<link rel="stylesheet" type="text/css" href="/static/assets/css/pagination.css" />
