<!-- 引入外部脚本文件-->
 <script type="text/javascript" src="/static/assets/jquery/1.8.3/jquery.min.js"></script> 
<script type="text/javascript" src="/static/assets/bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/assets/layer/3.1.0/layer.js"></script>
<script type="text/javascript" src="/static/assets/js/jquery.validate.js"></script>
<script type="text/javascript" src="/static/assets/js/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript" src="/static/assets/js/jquery.numeric.js"></script>
<script type="text/javascript" src="/static/assets/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
<script type="text/javascript" src="/static/assets/js/jquery.ui.datapicker-zh-CN.js"></script>
<script type="text/javascript" src="/static/media/js/admin.edit.js"></script>
