<!-- 公共头部-->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="/main.html" style="color: White">
                <img src="/favicon.ico" /> <strong>任务管理系统</strong>
            </a>
            <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <img src="/static/assets/img/menu-toggler.png" alt="" />
            </a>
            <ul class="nav pull-right">
                <li class="dropdown user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img alt="" src="/static/assets/img/avatar.gif" style="height: 29px;" />
                        <span id="username" class="username"></span>
                        <i class="icon-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- <li><a href="extra_profile.html"><i class="icon-user"></i>我的信息</a></li>
                        <li><a href="calendar.html"><i class="icon-calendar"></i>我的日历</a></li>
                        <li><a href="#"><i class="icon-tasks"></i>我的任务</a></li>
                        <li class="divider"></li> -->
                        <li><a title="修改密码" href="javascript:main.modipwd();"><i class="icon-key"></i>修改密码</a></li>
                        <li><a title="退出系统" href="javascript:main.logout();"><i class="icon-signout"></i>退出系统</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>