        <!-- 公共左侧菜单栏-->
        <div class="page-sidebar nav-collapse collapse">
            <ul id="navlist">
                <li>
                    <div class="sidebar-toggler hidden-phone">
                        <h3 style="margin-left: -160px; line-height: 23px; color: #fff;">HIVE功能菜单</h3>
                    </div>
                </li>
                <li>
                    <form class="sidebar-search dn">
                        <div class="input-box">
                            <a href="javascript:;" class="remove"></a>
                            <input type="text" placeholder="Search..." />
                            <input type="button" class="submit" value=" " />
                        </div>
                    </form>
                </li>
                <li>
                    <a href="/index.html" title="欢迎登录任务系统！">
                        <i class="icon-home"></i>
                        <span class="title">工作台</span>
                    </a>
                </li>
            </ul>
        </div>