@charset "utf-8";      
.pagination a {
    text-decoration: none;
	border: 1px solid #AAE;
	color: #15B;
}

.pagination a:hover {
    text-decoration: none;
	border: 1px solid #ddd;
	color: #fff;
    background-color:#111;
}

.pagination a, .pagination span{
    display: inline-block;
    padding: 3px 10px;
    margin-right: 5px;
	margin-bottom: 5px;
}
.pagination select {
    display: inline-block;
    margin-right: 5px;
	margin-bottom: 5px;
    margin-top:2px;
    width:auto;
    height:29px;
}

.pagination .current {
    background: #fff;
    color: red;
	border: 0px solid #AAE;
    font-weight:bold;
    clear:both;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
    border: 1px solid #AAE;
}

.pagination .count {
    color:#000;
    padding:4px 10px;
    background-color:#ddd;
    margin:5px;
    font-weight:bold;
}

