<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>消息提示框</title>
    <script type="text/javascript" src="/static/assets/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="messageDiv" class="list-group">
        <a href="#" class="list-group-item">暂无新消息</a>
    </div>
</body>
<script src="/static/media/js/jquery-1.11.1.min.js"></script>
<script src="/static/assets/bootstrap3/js/bootstrap.min.js"></script>
<script src="/static/assets/js/jquery.cookie.js"></script>
<script src="/static/media/js/app.js"></script>
<script src="/static/content/scripts/admin.main.js"></script>
<script src="/static/message/mess.js"></script>
</html>
