<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>系统消息</title>
    <link href="/static/assets/bootstrap3/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div id="messageDiv" class="list-group">
        <!--<a href="#" class="list-group-item">系统消息内容</a>-->
    </div>
</body>
<script src="/static/media/js/jquery-1.11.1.min.js"></script>
<script src="/static/Assets/bootstrap3/js/bootstrap.min.js"></script>
<script src="/static/assets/js/jquery.cookie.js"></script>
<script src="/static/media/js/app.js"></script>
<script src="/static/content/scripts/admin.main.js"></script>
<script src="/static/message/view.js"></script>
</html>
